.title {
  font-family: var(--font-prata);
  font-size: 32px;
  font-weight: 400;
  position: relative;
  display: inline-block;
}

.title::after {
  content: "";
  margin: 10px auto 40px;
  background-color: black;
  display: block;
  height: 4px;
  width: 32px;
}

.programming .title::after {
  background-color: var(--prog-color);
}

.front-end .title::after {
  background-color: var(--front-color);
}

.data-science .title::after {
  background-color: var(--data-color);
}

.devops .title::after {
  background-color: var(--dev-color);
}

.ux-design .title::after {
  background-color: var(--ux-color);
}

.mobile .title::after {
  background-color: var(--mob-color);
}

.innovation-management .title::after {
  background-color: var(--inov-color);
}

.section-header__title.title::after {
  background-color: var(--primary-color-blue);
}
