.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: var(--font-prata);
  font-size: 32px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  padding: 10px 0;
}

.title__underline {
  width: 20%;
  height: 4px;
  margin-bottom: 30px;
}
