.card {
  height: 270px;
  width: 260px;
  min-width: 200px;
  min-height: 220px;
  max-width: 300px;
  max-height: 320px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow: hidden;
}

.card.programming {
  background: linear-gradient(180deg, var(--prog-color) 33%, #fff 33%);
}
.card.front-end {
  background: linear-gradient(180deg, var(--front-color) 33%, #fff 33%);
}
.card.data-science {
  background: linear-gradient(180deg, var(--data-color) 33%, #fff 33%);
}
.card.devops {
  background: linear-gradient(180deg, var(--dev-color) 33%, #fff 33%);
}
.card.ux-design {
  background: linear-gradient(180deg, var(--ux-color) 33%, #fff 33%);
}
.card.mobile {
  background: linear-gradient(180deg, var(--mob-color) 33%, #fff 33%);
}
.card.innovation-management {
  background: linear-gradient(180deg, var(--inov-color) 33%, #fff 33%);
}
