.card {
  height: 270px;
  width: 260px;
  min-width: 200px;
  min-height: 220px;
  max-width: 300px;
  max-height: 320px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  overflow: hidden;
}

.card__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}

.card__image img {
  width: 100%;
  height: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  text-align: center;
}

.card__name {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color-blue);
  margin-bottom: 10px;
}

.card__role {
  font-size: 16px;
  font-weight: 400;
}

.card__buttons {
  display: none;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.card:hover .card__buttons {
  display: flex;
  padding: 10px;
}

.card__edit,
.card__delete {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
}

.card__edit:hover,
.card__delete:hover {
  transform: rotateZ(10deg);
}

.card__edit img,
.card__delete img {
  width: 100%;
  height: 100%;
}
