@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-prata: "Prata", serif;
  --primary-color-blue: #6278f7;
  --primary-color-green: #95ffd4;
  --primary-color-gray: #f2f2f2;
  --prog-color-bg: #d9f7e9;
  --front-color-bg: #e8f8ff;
  --data-color-bg: #f0f8e2;
  --dev-color-bg: #fde7e8;
  --ux-color-bg: #fae9f5;
  --mob-color-bg: #fff5d9;
  --inov-color-bg: #ffeedf;
  --prog-color: #57c278;
  --front-color: #82cffa;
  --data-color: ##a6d157;
  --dev-color: #e06b69;
  --ux-color: #db6ebf;
  --mob-color: #ffba05;
  --inov-color: #ff8a29;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-montserrat);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
